[Log] Extracted Styles:
Object

alignItems: "flex-start"

background: "rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box"

backgroundColor: "rgba(0, 0, 0, 0)"

border: "0px none rgb(0, 0, 0)"

borderColor: "rgb(0, 0, 0)"

borderRadius: "0px"

borderWidth: "0px"

bottom: "0px"

color: "rgb(0, 0, 0)"

display: "flex"

flexDirection: "column"

fontSize: "12px"

fontWeight: "400"

height: "568.78125px"

justifyContent: "center"

left: "0px"

letterSpacing: "normal"

lineHeight: "normal"

margin: "0px"

opacity: "1"

padding: "0px 120px"

position: "relative"

right: "0px"

top: "0px"

transition: "all"

width: "1440px"

Object Prototype

__defineGetter__(propertyName, getterFunction)

__defineSetter__(propertyName, setterFunction)

__lookupGetter__(propertyName)

__lookupSetter__(propertyName)

constructor: function()

hasOwnProperty(propertyName)

isPrototypeOf(property)

propertyIsEnumerable(propertyName)

toLocaleString()

toString()

valueOf()