.framer-19T3x[data-border="true"]::after, .framer-19T3x [data-border="true"]::after {
    content: "";
    border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);
    border-color: var(--border-color, none);
    border-style: var(--border-style, none);
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    border-radius: inherit;
    pointer-events: none;
}
Style Attribute {
    --border-bottom-width: 1px;
    --border-color: var(--token-6f65aca3-040a-4dc9-a9ae-fa1eca621033, rgb(57, 59, 67));
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    background-color: var(--token-91dde303-ebf6-4a94-86a9-809a76d5fca4, rgb(97, 63, 231));
    opacity: 1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px 0px;
    will-change: auto;
    }
    .framer-VZCPC.framer-plqk5t {
    place-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-flow: row;
    gap: 12px;
    height: min-content;
    overflow: hidden;
    padding: 10px 24px;
    position: relative;
    text-decoration: none;
    width: min-content;
    will-change: var(--framer-will-change-override, transform);
    }
    .framer-VZCPC.framer-6dkhgs, .framer-VZCPC .framer-6dkhgs {
    display: block;
    }
    * {
    -webkit-font-smoothing: inherit;
    }
    html, * {
    box-sizing: border-box;
    }
    *:before, *:after {
    box-sizing: border-box;
    }
    .framer-19T3x[data-border="true"]::after, .framer-19T3x [data-border="true"]::after {
    content: "";
    border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);
    border-color: var(--border-color, none);
    border-style: var(--border-style, none);
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    border-radius: inherit;
    pointer-events: none;
    }
    .framer-VZCPC[data-border="true"]::after, .framer-VZCPC [data-border="true"]::after {
    content: "";
    border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);
    border-color: var(--border-color, none);
    border-style: var(--border-style, none);
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    border-radius: inherit;
    pointer-events: none;
    }
    *:before, *:after {
    box-sizing: border-box;
    }
    body[data-framer-theme="dark"] {
    Show 6 unused CSS variables
    }
    body[data-framer-theme=dark], body[data-framer-theme=light] .invertedThemeCSSVariables_i1t1ho1a {
    Show 932 unused CSS variables
    }
    body {
    --token-91dde303-ebf6-4a94-86a9-809a76d5fca4: rgb(97, 63, 231);
    Show 22 unused CSS variables
    }
    @supports (aspect-ratio: 1)
    body {
    Show 1 unused CSS variable
    }
    body {
    --framer-will-change-override: none;
    }
    body {
    Show 14 unused CSS variables
    }
    body {
    Show 932 unused CSS variables
    }
    body, input, textarea, select, button {
    font-family: sans-serif;
    font-size: 12px;
    }
    :root {
    -webkit-font-smoothing: antialiased;
    }
    User Agent Style Sheethtml {
    color: canvastext;
    }
    
    